{% extends 'base.html.twig' %}

{% block title %}{{ 'product.index.title'|trans }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'warehouse.index.title'|trans }}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th>{{ 'product.index.description'|trans }}</th>
                            <th>{{ 'product.index.sku'|trans }}</th>
                            <th>{{ 'product.index.quantity'|trans }}</th>
                            <th>{{ 'product.index.warehouse'|trans }}</th>
                            <th>{{ 'options'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.title }}</td>
                                <td>{{ product.code }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.warehouse.name }}</td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-success"><i class="fas fa-edit"></i> {{ 'edit'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/product.js') }}"></script>
{% endblock %}
