{% extends 'base.html.twig' %}
{% form_theme form 'form/form_errors.html.twig' %}

{% block title %} {{ 'product.upload.title'|trans }} {% endblock %}

{% block content %}
    <div class="card">
        {{ form_start(form, {attr: {class: 'was-validated'} }) }}
        <div class="card-header">
            {{ 'product.upload.title'|trans }}
        </div>
        <div class="card-body">
            <p>
                {{ 'product.upload.description'|trans }}
            </p>
            <div class="form-group">
                {{ form_label(form.products) }}
                {{ form_widget(form.products) }}
                {{ form_errors(form.products) }}
            </div>
            <div class="form-group">
                {{ form_label(form.warehouse) }}
                {{ form_widget(form.warehouse) }}
                {{ form_errors(form.warehouse) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.upload) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
