{% extends 'base.html.twig' %}

{% block title %} {{ 'product.upload.title'|trans }} {% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">{{ 'product.upload.title'|trans }}</li>
        </ol>
    </nav>

    <div class="mb-3">
        <p>
            {{ 'product.upload.description'|trans }}
        </p>
        <hr>
        {{ form_start(form, {attr: {class: 'was-validated'} }) }}
        <div class="form-group">
            <label for="{{ form.products.vars.id }}" >{{ 'product.upload.label_input'|trans }}</label>
            {{ form_widget(form.products) }}
            {{ form_errors(form.products) }}
        </div>
        {{ form_widget(form.upload) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
